<ion-app>
  <ion-menu contentId="main" menuId="first" side="start" swipe-gesture="false">
    <ion-header>
      <ion-toolbar>
        <ion-title style="font-size: 10px;">TeLlevoApp</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
   <!--   <div class="container-fluid">
        <div class="row" *ngIf="cargando">
          <div class="col-12 text-center">
            <h1 class="display-1">Cargando. Espere un momento por favor</h1>
            <img src="assets/25.gif" alt="">
          </div>
        </div>
        <div *ngIf="!cargando" class="row">
          <div class="col-12">
            <div class="text-center mt-2" *ngIf="!cargando">
              <strong class="display-4">{{city}}, {{region_name}}, {{country_name}}<br> {{hora}}</strong>
            </div>
          </div>
          <div class="col-12">
            <app-weather-detail [detalles]="detallesHoy"></app-weather-detail>
          </div>

          <div *ngFor="let detalles of detallesProximos;" class="col-12 col-md-6 my-2">
            <app-weather-detail [detalles]="detalles"></app-weather-detail>
          </div>
        </div>
      </div>-->

      <ion-list>
        <ion-menu-toggle *ngFor="let c of componentes">
          <ion-item [routerLink]="c.redirecTo" detail="true">
            <ion-icon slot="start" [name]="c.icon" color="warning"></ion-icon>
            {{ c.name }}
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>